<div class="container py-1 jumbotron" style="background-color: white">
  <span style="margin-right: 40%">
    <%= image_tag 'ecomcharge.png', size: '130x100' %>
    <%= image_tag 'apple_pay.png', size: '200x100' %>
  </span>
  <span style="font-size: 2rem; font-weight: 700">ApplePay test flow</span>
</div>
<section class="content text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <form id="authorization">
              <h4>Authorization</h4>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <button class="btn btn-outline-secondary dropdown-toggle"
                          type="button" data-toggle="dropdown" id="currency" value="BYN">BYN</button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item">BYN</a>
                    <a class="dropdown-item">USD</a>
                    <a class="dropdown-item">EUR</a>
                  </div>
                </div>
                <input type="text" class="form-control" placeholder="amount" id="amount">
              </div>
              <button type="button" class="btn btn-dark" onclick="openWidget('authorization')">Authorize</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <form id="capture">
              <h4>Partial shipment</h4>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="authorization uid" id="parent_uid">
                <input type="text" class="form-control" placeholder="amount" id="amount">
              </div>
              <button type="button" class="btn btn-secondary">Capture</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <form id="void">
              <h4>Void</h4>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="authorization uid" id="parent_uid">
                <input type="text" class="form-control" placeholder="amount" id="amount">
              </div>
              <button type="button" class="btn btn-secondary">Void</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <div class="card" style="height: 100%">
          <div class="card-body">
            <form id="payment">
              <h4>One-time</h4>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <button class="btn btn-outline-secondary dropdown-toggle"
                          type="button" data-toggle="dropdown" id="currency" value="BYN">BYN</button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item">BYN</a>
                    <a class="dropdown-item">USD</a>
                    <a class="dropdown-item">EUR</a>
                  </div>
                </div>
                <input type="text" class="form-control" placeholder="amount" id="amount">
              </div>
              <button type="button" class="btn btn-dark">Pay</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <form id="refund">
              <h4>Refund</h4>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="payment uid" id="parent_uid">
                <input type="text" class="form-control" placeholder="amount" id="amount">
              </div>
              <button type="button" class="btn btn-secondary">Refund</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <form id="recurring">
              <h4>Recurring payment</h4>
              <button type="button" class="btn btn-dark">Pay</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <form id="close_day">
              <h4>Settlement</h4>
              <input type="text" class="form-control" placeholder="gateway id" id="gateway_id">
              <button type="button" class="btn btn-outline-dark">Close day</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="https://js-staging.begateway.com/widget/be_gateway.js"></script>
<script>
  this.openWidget = function(txn_type) {
    var formObject = {};
    var params = {
      "checkout_url": "https://checkout-staging.begateway.com",
      // "token": "0cd82b41592a264810f9f95cd17c891890d97969d5b85375f2a580744b4614bb",
      "widget": "https://js-staging.begateway.com/widget/widget.html",
      "checkout": {
        "iframe": true,
        "test": true,
        // "token": "0cd82b41592a264810f9f95cd17c891890d97969d5b85375f2a580744b4614bb",
        "transaction_type": txn_type,
        // Demo shop authorization token:
        "public_key": "MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtE3/Z3W3dQ8e5WbQrV/74THSOgX0EFHUrAikS0TUqfrxk5caEW8peb9AXXKtAjM7Hl28couSr39YfxfaKPuCcwtML9Q+z7pQBLVzLFHiGRytBStlNkOVY3pPiM9cfkqGX/oSCuaS3c+xY8LNZeYCDoQcQzQW95sqAdqzzp18Mo3Lpv2IpLYVC+64O9tIXoCz7LVAKpm7R4pCFb5Pc8BestDGUnH1MS9MsrmvtEu5EXSDLe0biY146sWoOKtuMduqdDZOU4E/k51ZVto8Lt7/2DV7NbmdHoMvb2ws5aMaVUT3An4xFzJe97ATPp9M8DMFYojgfPSTBtlsC5KswsRCHQIDAQAB",
        "order": {
          "amount": $("#" + txn_type + " #amount")[0].value,
          "currency": $("#" + txn_type + " #currency")[0].value,
          "description": "ApplePay test order",
          "additional_data":{
            "contract": ["recurring"]
          }
        },
        "customer":{
        },
        "settings": {
          "language": "en"
        },
        "payment_method" : {
        }
      },
      closeWidget: function(status) {
        console.log(status);
        if (status === 'successful' || status === 'success') {
          $('#begateway-payment-accepted-info').show();
          $('#begateway-payment-button').hide();
          $('#begateway-payment-declined-info').hide();
        }
        if (status === 'failed') {
          $('#begateway-payment-accepted-info').hide();
          $('#begateway-payment-button').show();
          $('#begateway-payment-declined-info').show();
        }
      }
    };
  new BeGateway(params).createWidget();
};
</script>
